<form
  class="w-full p-4 flex flex-col md:flex-row justify-start relative gap-2"
  hx-post="/convertor"
  hx-swap="outerHTML"
>
  <input
    class="p-2 text-xl font-black w-20 appearance-none border-2 border-black rounded-md"
    required
    autofocus
    type="number"
    value="{{ .selectedAmount }}"
    name="selectedAmount"
    min="0"
  />

  <select
    class="p-2 text-xl font-black w-30 appearance-none border-2 border-black rounded-md"
    required
    name="selectedCoin"
    value="{{ .selectedCoin }}"
  >
    {{ range .portfolio }}
    <option
      class="flex items-center justify-between bg-green cursor-pointer hover:text-green-500"
    >
      {{.Name}}
    </option>
    {{ end }}
  </select>

  <select
    class="p-2 text-xl font-black w-30 appearance-none border-2 border-black rounded-md"
    required
    name="selectedCurrency"
  >
    {{ range .currencies }}
    <option
      value="{{.}}"
      class="flex items-center justify-between bg-green cursor-pointer hover:text-green-500"
    >
      {{.}}
    </option>
    {{ end }}
  </select>

  <button
    class="text-xlmd:text-xs font-bold b-1 bg-black border-green-500 border-2 rounded-md px-2 hover:bg-green-500 text-white"
  >
    Convert
  </button>

  {{ if .calculatedConversion }}
  <span class="text-xl font-black m-0">
    Total // <br />
    {{ .calculatedConversion }} {{ .selectedCurrency }}
  </span>
  {{ end }}
</form>
