<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <title>Document</title>
  </head>
  <body>
    <form hx-post="/" hx-swap="outerHTML">
      <div class="flex flex-row space-x-4">
        <div class="flex flex-col">
          <label for="coins">Coins</label>
          <input
            type="number"
            name="coins"
            id="coins"
            placeholder="Coins"
            class="border-2 border-gray-300 p-2"
          />
        </div>

        <div class="flex flex-col">
          <label for="eth">ETH</label>
          <input
            type="number"
            name="eth"
            id="eth"
            placeholder="ETH"
            class="border-2 border-gray-300 p-2"
          />
        </div>

        <button
          type="submit"
          class="bg-blue-500 text-white p-2 rounded-md"
        >
          Submit
        </button>

      
    </form>
  </body>
</html>
